@model ThreadModel

<h1>Create a new thread</h1>
<form asp-action="CreateThread">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" asp-for="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Text">Message</label>
        <textarea class="form-control" asp-for="Text"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="TopicId" value="@ViewBag.TopicId" />
    <button type="submit" class="btn btn-primary">Send</button>
</form>
