@model List<ThreadModel>

<h1>Thread Details</h1>

@foreach (var thread in Model)
{
    <div class="thread-container">
        <h2>@thread.Title</h2>
        <p style="white-space:pre-wrap">@thread.Text</p>
    </div>
}

@*does not work*@
@*<a href="@Url.Action("Index", "Thread", new { topicId = ViewBag.TopicId })">Back to Threads</a>*@