@model List<ThreadModel>

    <h1>Threads</h1>

<ul>
    @foreach (var thread in Model)
    {
        <li>
            <a href="@Url.Action("ViewThread", "Thread", new {threadId = thread.Id })">@thread.Title</a>
        </li>
    }
</ul>

<a href="@Url.Action("CreateThread", "Thread", new {topicId = ViewBag.TopicId})">Create New Thread</a>