@model ReplyModel

<h2>Write Reply</h2>
<p>You are replying to the thread with ID: @ViewBag.ThreadId</p>

<form asp-action="Reply" method="post">
    <div class="form-group">
        <label asp-for="Text"></label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ThreadId" value="@ViewBag.ThreadId" />
    <button type="submit" class="btn btn-primary"><i class="fa-regular fa-share-from-square"></i>Submit Reply</button>
</form>
