@model List<ThreadModel>

<div class="common-container">
    <div class="common-container" style="display: block;">
        @await Component.InvokeAsync("ThreadForm", new { topicId = ViewBag.TopicId })
        @await Component.InvokeAsync("Threads", new { topicId = ViewBag.TopicId })
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".toggle-thread-form").click(function () {
            var threadFormId = $(this).data("thread-form");
            $("#" + threadFormId).toggle();
        });
    });
</script>