@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">4ChanForum</h1>
    <ul class="list-unstyled padd">
        @await Component.InvokeAsync("Topics")
    </ul>    
</div>
