html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link {
    border: 1px solid black;
    border-radius: 0.5em;
    margin: 0.75em;
    padding: 0.5rem 1rem;
}


.common-container {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.common-section {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    margin: 0.5rem;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 8px 16px -12px black;
    background: #434343;
}
.common-section:hover {
    background: #1e3f56;
}

.common-section span {
    background: #2a2a2a;
    color: white;
}
.common-section a {
    color: #51b7e8;
    text-decoration: none;
    text-transform: uppercase;
}
.common-section h2 {
    color: #51b7e8;
    text-decoration: none;
    text-transform: uppercase;
}
.common-section p {
    font-size: 1rem;
    white-space:pre-line;
}


.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0em;
    border-bottom: 4px solid black;
    margin: 0.5rem;
}
.section-header a {
    color: black;
    text-decoration: none;
}
.section-header a:hover {
    color: #03cacd;
    text-decoration: none;
}
.section-header span {
    color: #51b7e8;
}

.btn {
    display:flex;
    flex-direction:row;
    gap:1em;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px -8px black;
}

.form-container form {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
}

.form-group label {
    font-size: 1.25rem;
    font-weight: bold;
}
.form-group input {
    border: 1px solid black;
    border-radius: 0.5em;
}
.form-group textarea {
    border: 1px solid black;
    border-radius: 0.5em;
    white-space: pre-wrap;
    overflow: auto;
    height:auto;
    resize: none;
    padding: 1em;
    scrollbar-width: thin;
}