@model List<TopicModel>

@if (Model != null && Model.Any())
{
    @foreach (var topic in Model)
    {
        <li class="nav-item flex-grow-1">
            <a class="nav-link" href="@Url.Action("Index", "Forum", new {topicId = topic.Id})">
                <i class="fa-regular fa-folder"></i>  @topic.Title
            </a>
        </li>
    }
}
else
{
    <p>No topics available.</p>
}
