@model List<ReplyModel>

@if (Model != null && Model.Any())
{
    <div class="common-container">
        @foreach (var reply in Model.OrderBy(r => !r.isPinned))
        {
            <div class="common-section">
                <div class="icons">
                    <div class="relative-time-text">
                        @if (reply.isPinned)
                        {
                            <i class="fa-solid fa-thumbtack"></i>
                        }
                        <span class="relative-time" data-date="@reply.Date"></span>
                    </div>
                </div>
                <p style="white-space:pre-wrap">@reply.Text</p>
            </div>
        }
    </div>
}
else
{
    <div class="common-section">
        <p>No replies available for this thread.</p>
    </div>
}
